* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f5f6;
  font-family: sans-serif;
}
form > div {
  width: 100px;
}

.App {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-items: center;
  align-items: center;
}